In [13]:
import os
os.getcwd()

'C:\\Users\\Asus\\Downloads\\CS 3072\\Labs\\lab-03-RaghadKAlamoudi'

## Lab 3: pandas

#### Introduction

We will examine a dataset containing characteristics of lego sets manufactured between 1961 and 2019 from the BRICKSET website. Variables in the dataset are described below.

| VARIABLE             |      DESCRIPTION             |
|:----------|:-------------|
| ID |  set id |
| Name |    name of set   |
| Themegroup | themegroup of set |
| Theme |  theme of set |
| Subtheme |    subtheme of set   |
| Year | year released |
| Pieces |  number of pieces |
| Minifig |    number of minifigs   |
| Package | type of packaging |
| Retail_Price |  recommended retail pri



Load pandas to read in the data and save it as dataframe named lego.

In [15]:
import pandas as pd

lego = pd.read_csv('lego.csv')

lego.head(7)

lego.loc[lego.retail_price == 0, :].head(7)

lego.describe()

               year        pieces      minifigs  retail_price
count  12213.000000  11125.000000  12214.000000   7849.000000
mean    2003.202817    201.429124      1.381775     28.547607
std       13.683488    382.014126      2.405519     41.036308
min     1955.000000      0.000000      0.000000      0.000000
25%     1997.000000     25.000000      0.000000      6.000000
50%     2007.000000     70.000000      1.000000     14.990000
75%     2014.000000    223.000000      2.000000     34.990000
max     2019.000000  10004.000000     36.000000    799.990000

#### Question 1:
Some sets have missing information for retail_price or pieces or both. This could be because the sets are free (giveaways), they aren’t traditional lego sets (comic books, etc) or just because the information is missing. Filter the lego dataset based on the specifications below and save the result as lego. Hence, you will overwrite the original lego object. In addition, describe the implications of removing these sets.

Your new lego (data frame) should have:

• no missing pieces

• only contain sets with a nonzero number of pieces

• no missing retail_price

• only contain sets with a nonzero retail_price

• no missing year

- Print out the shape of the dataframe after cleaning the dataset.
-

In [17]:
# Write your answer here
print(lego.shape)
lego2 = lego.dropna()
print(lego2.shape)

lego2 = lego2.loc[lego2.retail_price > 0, :] 
print(lego2.shape)

lego2.sample(7)
lego2.describe()

(12214, 10)
(4360, 10)
(4277, 10)

              year       pieces     minifigs  retail_price
count  4277.000000  4277.000000  4277.000000   4277.000000
mean   2008.243395   251.114099     2.110592     29.231814
std       9.602551   433.553512     2.479037     41.633822
min    1961.000000     1.000000     0.000000      0.500000
25%    2002.000000    38.000000     0.000000      4.990000
50%    2012.000000   109.000000     1.000000     14.990000
75%    2015.000000   305.000000     3.000000     38.500000
max    2019.000000  7541.000000    28.000000    799.990000

#### Question 2:	
Arrange the dataset in descending order of retail_price and print the first three rows. Report in words the names of the three most expensive lego sets, their prices, and how many pieces each has.

In [19]:
# Write your answer here
lego2.sort_values(by = 'retail_price', ascending = False).head(3)

,id,name,themegroup,theme,subtheme,year,pieces,minifigs,package,retail_price
1434,75192-1,Millennium Falcon,Licensed,Star Wars,Ultimate Collector Series,2017.0,7541.0,8,Box,799.99
5944,10179-1,Ultimate Collector's Millennium Falcon,Licensed,Star Wars,Ultimate Collector Series,2007.0,5197.0,5,Box,499.99
2065,75159-1,Death Star,Licensed,Star Wars,Ultimate Collector Series,2016.0,4016.0,27,Box,499.99

#### Question 3:

It appears that the most expensive sets generally have more pieces. Create a new variable (column) price_per_piece, representing the price in dollars per piece for each of the sets. Save the result as lego2. Hence, you will overwrite the current lego object.

In [21]:
# Write your answer here
lego2['price_per_piece'] = lego2.retail_price / lego2.pieces
lego2.sample(6)

,id,name,themegroup,theme,subtheme,year,pieces,minifigs,package,retail_price,price_per_piece
5236,8684-13,Disco Dude,Miscellaneous,Collectable Minifigures,Series 02,2010.0,6.0,1,Foil pack,1.99,0.331667
10913,6391-1,Cargo Center,Modern day,Town,Shops and Services,1984.0,553.0,5,Box,43.00,0.077758
4479,2171-1,Zane DX,Action/Adventure,Ninjago,Spinners,2011.0,22.0,1,Blister pack,9.99,0.454091
5619,COMCON008-1,Collectable Display Set 3,Licensed,Star Wars,Miscellaneous,2009.0,5.0,3,Plastic box,49.99,9.998000
4147,6173-1,Panda,Pre-school,Duplo,Zoo,2012.0,8.0,1,Box,7.99,0.998750
5439,7636-1,Combine Harvester,Modern day,City,Farm,2009.0,360.0,1,Box,44.99,0.124972

#### Question 4:	

Arrange the lego2 dataset in descending order of price_per_piece and return only the columns: name, themegroup, theme, pieces, price_per_piece, and the first five rows. What do you notice about these sets?

In [35]:
# Write your answer here
lego2= lego2.sort_values(by = 'price_per_piece' , ascending = False) # dataset in descending order of price_per_piece
lego2= lego2.loc[ : , ['name', 'themegroup', 'theme', 'pieces', 'price_per_piece']] # return only the columns: name, 
#themegroup, theme, pieces, price_per_piece
lego2.head(5) # print the first five rows

,name,themegroup,theme,pieces,price_per_piece
5551,Rechargeable Battery Box,Technical,Power Functions,1.0,49.990
5553,Transformer 10V DC,Technical,Power Functions,1.0,29.990
5616,Collectable Display Set 2,Licensed,Star Wars,2.0,24.995
8694,Temperature Sensor,Technical,Mindstorms,1.0,24.000
7540,Robotics Invention System Upgrade Kit,Technical,Mindstorms,1.0,20.000

#### Question 5:

What is the mean price_per_piece for the top 40 'Toy Story' sets in terms of price_per_piece?

In [37]:
# Write your answer here
lego2.loc[sorted_lego.theme == 'Toy Story' , :].head(40).price_per_piece.mean()

0.16089862892544177

#### Question 6:

What are the unique themes in the lego dataset?

In [31]:
# Write your answer here
lego2.theme.unique()

array(['Creator Expert', 'Toy Story', 'Duplo', 'Architecture',
       'Minecraft', 'Ideas', 'City', 'BrickHeadz', 'Ninjago',
       'The Lego Movie 2: The Second Part', 'Star Wars',
       'Speed Champions', 'Jurassic World', 'Marvel Super Heroes',
       'DC Comics Super Heroes', 'Classic', 'Juniors', 'Wizarding World',
       'Creator', 'Miscellaneous', 'Seasonal', 'Promotional', 'Disney',
       'Unikitty', 'Friends', 'The LEGO Ninjago Movie',
       'Collectable Minifigures', 'Nexo Knights', 'The LEGO Batman Movie',
       'Pirates of the Caribbean', 'Dimensions', 'Mixels', 'Bionicle',
       'Legends of Chima', 'Education', 'Teenage Mutant Ninja Turtles',
       'The LEGO Movie', 'The Hobbit', 'The Lord of the Rings', 'Space',
       'Mindstorms', 'Games', 'Castle', 'Monster Fighters',
       'Bricks and More', 'Cars', 'Harry Potter', 'Racers',
       'Power Functions', 'Indiana Jones', 'Pirates', 'Factory',
       'Exo-Force', 'Trains', 'Sports', 'Town', 'World City',
       'Alpha Team', 'Spider-Man', 'Bulk Bricks', 'Explore',
       'Adventurers', 'Studios', 'Western', 'Technic', 'Basic',
       'Aquazone', 'Service Packs', 'Time Cruisers', 'Assorted', 'Books',
       'Samsonite', 'LEGOLAND'], dtype=object)